---
import type { Page } from 'astro';
import { type CollectionEntry } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import Timeline from '../../components/Timeline.astro';

type Props = { page: Page<CollectionEntry<'projects'>> };
---

<BaseLayout
	title="Portfolio"
	description="Explore a diverse portfolio showcasing my passion and expertise"
	image={{ src: '/dante-preview.jpg', alt: 'The preview of the site' }}
	showHeader={false}
>
	<h1 class="mb-12 text-center font-serif text-2xl italic leading-tight sm:mb-16 sm:text-4xl">My Timeline</h1>
	<Timeline />
</BaseLayout>
