* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  background-image: url('images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.card-list {
  position: relative;
  transition: 400ms;
}

.card-list:hover {
  transform: translateX(-30px);
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  padding: 1.5rem;
  position: relative;
  transition: 400ms;
}

.card:hover {
  transform: translateY(-1rem) translateX(30px);
  z-index: 99;
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card h4 {
position: absolute;
right: 0;
  transition: 400ms;
}

.card:hover h4 {
right: 30%;
}