* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  background-image: url('images/background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.card-list {
  display: flex;
  position: relative;
  transition: 400ms;
  transition-timing-function: ease-out;
  overflow: visible;
}

.card-list:hover {
  transform: translateX(-130px);
}

.card {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  min-width: 250px;
  padding: 1.5rem;
  position: relative;
  transition: transform 400ms;
  transition-timing-function: ease-out;
}

.card:hover {
  transform: translateY(-1rem) translateX(130px);
  z-index: 99;
}

.card:hover ~ .card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card h4 {
  position: absolute;
  right: 1rem;
  top: 1rem;
  transition: 400ms;
  transition-timing-function: ease-out;
}

.card:hover h4, .card:first-child h4 {
  right: 30%;
}
