* {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  /* background-image: url('code-letters.jpg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  z-index: 3;
}
