.waveBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.waveBottom svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 73px;
}

.waveBottom .shape-fill {
  fill: #181818;
}

.waveTop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.waveTop svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 105px;
}

.waveTop .shape-fill {
  fill: #181818;
}
